* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  height: 55px;
  display: flex;
  justify-content: center;
  background-color: rgba(37, 12, 35, 1);
}

.header-container > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
}
